/* ==========  Color Palettes  ========== */

$white01: rgba(255, 255, 255, 0.01);
$white03: rgba(255, 255, 255, 0.03);
$white04: rgba(255, 255, 255, 0.04);
$white05: rgba(255, 255, 255, 0.05);
$white06: rgba(255, 255, 255, 0.06);
$white07: rgba(255, 255, 255, 0.07);
$white08: rgba(255, 255, 255, 0.08);
$white1: rgba(255, 255, 255, 0.1);
$white12: rgba(255, 255, 255, 0.12);
$white14: rgba(255, 255, 255, 0.14);
$white18: rgba(255, 255, 255, 0.18);
$white2: rgba(255, 255, 255, 0.2);
$white24: rgba(255, 255, 255, 0.24);
$white36: rgba(255, 255, 255, 0.36);
$white3: rgba(255, 255, 255, 0.3);
$white4: rgba(255, 255, 255, 0.4);
$white48: rgba(255, 255, 255, 0.48);
$white5: rgba(255, 255, 255, 0.5);
$white54: rgba(255, 255, 255, 0.54);
$white56: rgba(255, 255, 255, 0.56);
$white6: rgba(255, 255, 255, 0.6);
$white65: rgba(255, 255, 255, 0.65);
$white8: rgba(255, 255, 255, 0.8);
$white85: rgba(255, 255, 255, 0.85);
$white9: rgba(255, 255, 255, 0.9);
$white95: rgba(255, 255, 255, 0.95);

$black02: rgba(0, 0, 0, 0.02);
$black04: rgba(0, 0, 0, 0.04);
$black05: rgba(0, 0, 0, 0.05);
$black06: rgba(0, 0, 0, 0.06);
$black07: rgba(0, 0, 0, 0.07);
$black08: rgba(0, 0, 0, 0.08);
$black1: rgba(0, 0, 0, 0.1);
$black12: rgba(0, 0, 0, 0.12);
$black16: rgba(0, 0, 0, 0.16);
$black14: rgba(0, 0, 0, 0.14);
$black18: rgba(0, 0, 0, 0.18);
$black2: rgba(0, 0, 0, 0.2);
$black24: rgba(0, 0, 0, 0.24);
$black3: rgba(0, 0, 0, 0.3);
$black35: rgba(0, 0, 0, 0.35);
$black36: rgba(0, 0, 0, 0.36);
$black4: rgba(0, 0, 0, 0.4);
$black5: rgba(0, 0, 0, 0.5);
$black54: rgba(0, 0, 0, 0.54);
$black56: rgba(0, 0, 0, 0.56);
$black85: rgba(0, 0, 0, 0.85);

$grey15: rgba(243, 243, 243, 0.6);

$white: #fff;
$black: #000;
$snow: #f9f9f9;
$bistre: $black85;
$darkgrey: $black54;
$manatee: $black36;
$red: #ff3180;
$darkRed: #e13e39;
$green: #03ce90;
$indigo: #4b6fde;
$bluesky: #5069c4;
$moonyellow: #f9bf13;
$theme-red: #fd7897;
$theme-green: #06ce90;
$pro: #fb8142;

$wechat: #00c800;
$ali: #00aaee;

$qrcode-wrapper-line: #d2d5db;

// min-cal
$bluegray: #5a76bc;
$ballblue: #4b6fde;
$cobalt: #9cb3ed;
$vanilla: #ffc817;
$blue36: rgba(0, 0, 255, 0.36);

// tk-cal
$paleorange: #fff2e2;
$lightorange: #ffab3c;
$lightgrayishblue: rgba(75, 111, 222, 0.2);
$grayishblue: #eff2fb;
$solitude: #f0f1f3;
$whitesmoke: #f8f8f8;
$snow: #f9f9f9;
$gainsboro: #e0e0e0;

$whitegray: #fdfdfd;
$alto: #d5d5d5;
$vwhitegray: #fcfcfc;
$silver: #c8c8c8;
$whisper: #e8e8e8;
$mercury: #e5e5e5;
$f2: #f2f2f2;
$ed: #ededed;
$e4: #e4e4e4;

$pink: #e86499;
$tuftsblue: #8ea0cb;

$brandeisblue: #6d8ee1;

$steelblue: #5c7bc5;
$ceruleanblue: #5a77bf;

$orange: #ff9a42;
$orange1: rgba($orange, 0.1);
$orange9: rgba($orange, 0.9);
$orange-hover: #e68b3b;
$orange-active: #ffb74d;
$orangered: #fd5d5f;
$mediumseagreen: #3cc6cc;

$mulberry: #e86499;
$shamrock: #28e0bf;
$springgreen: #49d498;
$yellow: #ffefd8;

$grey: #ddd;
$gallery: #eee; // @maoqxm 这名字是从一个叫做Name That Color的项目里找到的。窝也不知道为啥叫这个名字。
$silver: #c4c4c4;
$suvagrey: #8a8a8a;
$cadetgrey: #ababab;
$ashgrey: #f3f3f3;
$platinum: #f7f7f7;
$gallery: #eee;
$gullgray: #90a4ae;
$alto3: #d3d3d3;

$timberwolf: $black08;
$lavendergray: $black24;

$whitelilac: #ebebeb;

$disabled: #a8a8a8;

$verylightgray: #fefefe;

$lightwhite: #fafafa;

$dropdown-hover-color: rgba(46, 73, 136, 0.08);
$multi-hovered-color: rgba(46, 73, 136, 0.08);

$filter-advance-active-btn-2: rgba(0, 167, 247, 0.2);
$filter-advance-active-btn-4: rgba(0, 167, 247, 0.4);
$filter-advance-active-btn-color: #00a7f7;

$filter-advance-and-2: rgba(0, 167, 247, 0.2);
$filter-advance-and-4: rgba(0, 167, 247, 0.4);
$filter-advance-and-color: #00a7f7;

$filter-advance-or-2: rgba(73, 200, 76, 0.2);
$filter-advance-or-4: rgba(73, 200, 76, 0.4);
$filter-advance-or-color: #49c84c;

$filter-advance-not-2: rgba(255, 0, 0, 0.2);
$filter-advance-not-4: rgba(255, 0, 0, 0.4);
$filter-advance-not-color: red;
$dropdown-subtitle-color: rgba(28, 28, 28, 0.54);

$black04: rgba(0, 0, 0, 0.04);
$black05: rgba(0, 0, 0, 0.05);
$black06: rgba(0, 0, 0, 0.06);
$black08: rgba(0, 0, 0, 0.08);
$black1: rgba(0, 0, 0, 0.1);
$black14: rgba(0, 0, 0, 0.14);
$black15: rgba(0, 0, 0, 0.15);
$black2: rgba(0, 0, 0, 0.2);
$black3: rgba(0, 0, 0, 0.3);
$black4: rgba(0, 0, 0, 0.4);
$black25: rgba(0, 0, 0, 0.25);

$grey15: rgba(243, 243, 243, 0.6);

$silver-chalice: #a3a3a3;
$f0: #f0f0f0;

// list color
$l-color-0: transparent;
$l-color-1: #90abd6;
$l-color-2: #499fb4;
$l-color-3: #3cb878;
$l-color-4: #7fdd81;
$l-color-5: #c4e365;
$l-color-6: #e864a8;
$l-color-7: #fd5e5e;
$l-color-8: #f3bb4c;
$l-color-9: #ffe954;

// subscribe color
$subscribe-bg: rgba(177, 197, 207, 0.68);
$subscribe-color: #152a34;
$subscribe-active: #354750;

// priority color
$priority-high: $darkRed;
$priority-medium: #ffc817;
$priority-low: #4b6fde;

$priority-high-hover: #d62a31;
$priority-medium-hover: #dbab26;
$priority-low-hover: #1f43b1;
$priority-none-hover: #a8a8a8;

// activity
$limegreen: #18d791;
$softred: rgba(241, 89, 100, 0.8);
$moderateblue: rgba(100, 132, 213, 0.8);

$lightblack: rgba(0, 0, 0, 0.1);

$lightgray: rgba(0, 0, 0, 0.15);

$blackwhite: #d3dbf3;
$blackblue: #5a7bcf;

$indigo-color: #323771;
$indigo-c-task-bg: $indigo;
$opacityindigo-05: rgba(75, 111, 222, 0.05);
$opacityindigo-06: rgba(75, 111, 222, 0.06);
$opacityindigo: rgba(75, 111, 222, 0.1);
$opacityindigo-12: rgba(75, 111, 222, 0.12);
$opacityindigo-14: rgba(75, 111, 222, 0.14);
$opacityindigo-15: rgba(75, 111, 222, 0.15);
$opacityindigo-16: rgba(75, 111, 222, 0.16);
$opacityindigo-20: rgba(75, 111, 222, 0.2);
$opacityindigo-24: rgba(75, 111, 222, 0.24);
$opacityindigo-36: rgba(75, 111, 222, 0.36);
$opacityindigo-4: rgba(75, 111, 222, 0.4);
$opacityindigo-54: rgba(75, 111, 222, 0.54);
$opacityindigo-72: rgba(75, 111, 222, 0.72);
$opacityindigo-85: rgba(75, 111, 222, 0.85);
$opacityindigo-9: rgba(75, 111, 222, 0.9);

$opacitywhite: rgba(255, 255, 255, 0.3);

// grey theme
$grey-basestyle-font-color: $black;
$grey-color: rgba(44, 66, 118, 0.06);
$light-up-bg: rgba($vanilla, 0.15);
$grey-input-bg: rgba(44, 66, 118, 0.06);
$grey-input-active-border-color: rgba(75, 111, 222, 0.54);
$grey-dropdown-item-hover-bg: rgba(46, 73, 136, 0.08);
$grey-task-active-bg: rgba(#4b6fde, 0.12);
$grey-task-hover-bg: rgba(#4b6fde, 0.06);
$grey-column-task-active-bg: #e9edfb;
$grey-column-task-hover-bg: #f5f7fd;
$grey-sidebar-active-bg: rgba(#4b6fde, 0.12);
$grey-sidebar-hover-bg: rgba(#4b6fde, 0.06);
$grey-column-bg: #f3f4f7;
$grey-sidebar-inner-date-color: #f3f4f7;
$grey-mini-bg: #e5e8ee;
$grey-mini-btn-color: $black36;
$grey-mini-btn-bg: $black06;
$grey-mini-header-color: $black36;
$grey-mini-task-tip-bg: rgba(75, 111, 222, 0.54);
$grey-mini-day-active-task-tip-bg: rgba(255, 255, 255, 0.54);
$grey-mini-day-in-month-color: $black85;
$grey-mini-day-out-month-color: $black24;
$grey-mini-day-hover-bg: rgba(44, 66, 118, 0.12);
$grey-mini-day-active-bg: #4b6fde;
$grey-mini-day-active-color: #ffffff;
$grey-mini-today-color: #4b6fde;
$grey-mini-fake-bg: rgba(44, 66, 118, 0.08);
$grey-mini-fake-color: $black36;
$grey-pomotimer-bg: #e5e8ee;
$grey-pomotimer-time-color: $black85;
$grey-pomotimer-title-color: $black36;
$grey-pomotimer-setting-color: $black24;
$grey-pomotimer-border-top-color: $black12;
$grey-pomotimer-progress-color: #4b6fde;
$grey-upgrade-button-bg: #e5e8ee;
$grey-button-primary-bg: #4b6fde;
$grey-button-primary-hover-bg: #4061c4;
$grey-button-primary-active-bg: #3a53a7;
$grey-button-disabled-bg: rgba(75, 111, 222, 0.54);

// blue theme
$blue-basestyle-font-color: $white;
$blue-theme: #7086da;
$blue-color: #3e4c83;
$blue-c-task-bg: $blue-theme;
$blue-input-bg: rgba(46, 73, 136, 0.08);
$blue-input-active-border-color: rgba(102, 131, 222, 0.54);
$blue-dropdown-item-hover-bg: $blue-input-bg;
$blue-task-active-bg: rgba(102, 131, 222, 0.12);
$blue-task-hover-bg: rgba(#6683de, 0.06);
$blue-column-task-active-bg: #e6ebfa;
$blue-column-task-hover-bg: #f3f5fd;
$blue-sidebar-active-bg: rgba(0, 0, 0, 0.12);
$blue-sidebar-hover-bg: rgba(0, 0, 0, 0.06);
$blue-column-bg: #f3f5fd;
$blue-sidebar-inner-date-color: #7086da;
$blue-mini-bg: #516ac9;
$blue-mini-btn-color: #fff;
$blue-mini-btn-bg: rgba(255, 255, 255, 0.12);
$blue-mini-header-color: rgba(255, 255, 255, 0.36);
$blue-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$blue-mini-day-active-task-tip-bg: rgba(112, 134, 218, 0.54);
$blue-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$blue-mini-day-out-month-color: rgba(255, 255, 255, 0.24);
$blue-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$blue-mini-day-active-bg: #fff;
$blue-mini-day-active-color: #7086da;
$blue-mini-today-color: #223583;
$blue-mini-fake-bg: rgba(255, 255, 255, 0.08);
$blue-mini-fake-color: $white36;
$blue-pomotimer-bg: #516ac9;
$blue-pomotimer-time-color: $white85;
$blue-pomotimer-title-color: $white36;
$blue-pomotimer-setting-color: $white24;
$blue-pomotimer-border-top-color: $white12;
$blue-pomotimer-progress-color: #ffffff;
$blue-upgrade-button-bg: #6375c1;
$blue-button-primary-bg: #7086da;
$blue-button-primary-hover-bg: #6275bf;
$blue-button-primary-active-bg: #5565a5;
$blue-button-disabled-bg: #b1bdeb;

// black theme
$black-basestyle-font-color: $white;
$dark-deepgray: #313643;
$dark-lightgray: #3f4658;
$dark-color: #282b35;
$dark-c-task-bg: #4c515f;
$black-input-bg: rgba(115, 115, 117, 0.08);
$black-input-active-border-color: rgba(105, 112, 132, 0.36);
$black-dropdown-item-hover-bg: $black-input-bg;
$black-task-active-bg: rgba(#697084, 0.12);
$black-task-hover-bg: rgba(#697084, 0.06);
$black-column-task-active-bg: #e3e5e9;
$black-column-task-hover-bg: #e7eaef;
$black-sidebar-active-bg: rgba(255, 255, 255, 0.12);
$black-sidebar-hover-bg: rgba(255, 255, 255, 0.06);
$black-column-bg: #f2f3f5;
$black-sidebar-inner-date-color: #282b35;
$black-mini-bg: #4e515b;
$black-mini-btn-color: #ffffff;
$black-mini-btn-bg: rgba(255, 255, 255, 0.12);
$black-mini-header-color: rgba(255, 255, 255, 0.36);
$black-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$black-mini-day-active-task-tip-bg: rgba(40, 43, 53, 0.54);
$black-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$black-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$black-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$black-mini-day-active-bg: #ffffff;
$black-mini-day-active-color: #282b35;
$black-mini-today-color: #000;
$black-mini-fake-bg: rgba(255, 255, 255, 0.08);
$black-mini-fake-color: $white36;
$black-pomotimer-bg: #4e515b;
$black-pomotimer-time-color: $white85;
$black-pomotimer-title-color: $white36;
$black-pomotimer-setting-color: $white24;
$black-pomotimer-border-top-color: $white12;
$black-pomotimer-progress-color: #ffffff;
$black-upgrade-button-bg: #4e515b;
$black-button-primary-bg: #282b35;
$black-button-primary-hover-bg: #23252e;
$black-button-primary-active-bg: #1e2028;
$black-button-disabled-bg: #8b8c92;

$dark-lightgray05: rgba(49, 54, 67, 0.05);
$dark-lightgray1: rgba(49, 54, 67, 0.1);
$dark-lightgray12: rgba(49, 54, 67, 0.12);
$dark-lightgray2: rgba(49, 54, 67, 0.2);
$dark-lightgray3: rgba(49, 54, 67, 0.3);
$dark-lightgray36: rgba(49, 54, 67, 0.36);
$dark-lightgray9: rgba(49, 54, 67, 0.9);

// night theme
$night-basestyle-font-color: $white;
$night-black: #27282a;
$night-dark: #1c1d1f;
$dark-blue: #5979de;
$dark-blue-c-task-bg: $dark-blue;
$night-color: #aeb6ce;
$night-input-bg: rgba($white, 0.06);
$night-input-active-border-color: rgba($white, 0.54);
$night-dropdown-item-hover-bg: $white06;
$night-task-active-bg: #363739;
$night-task-hover-bg: #2a2b2d;
$night-column-task-active-bg: rgba(255, 255, 255, 0.24);
$night-column-task-hover-bg: rgba(255, 255, 255, 0.16);
$night-sidebar-active-bg: rgba(white, 0.24);
$night-sidebar-hover-bg: rgba(white, 0.06);
$night-column-bg: #27282a;
$dark-blue1: rgba($dark-blue, 0.1);
$dark-blue16: rgba($dark-blue, 0.16);
$dark-blue24: rgba($dark-blue, 0.24);
$dark-blue56: rgba($dark-blue, 0.56);
$dark-blue85: rgba($dark-blue, 0.85);
$dark-blue9: rgba($dark-blue, 0.9);
$dark-blue-hover: #5979de;
$dark-blue-active: #5979de;
$night-lightdark: #323232;
$night-lightdark2: #404040;
$night-lightdark3: #292929;
$night-lightdark4: #595959;
$night-sidebar-inner-date-color: #27282a;
$night-mini-bg: #303132;
$night-mini-btn-color: $white36;
$night-mini-btn-bg: $white06;
$night-mini-header-color: $white36;
$night-mini-task-tip-bg: $white54;
$night-mini-day-active-task-tip-bg: rgba(255, 255, 255, 0.54);
$night-mini-day-in-month-color: $white85;
$night-mini-day-out-month-color: $white24;
$night-mini-day-hover-bg: $white12;
$night-mini-day-active-bg: #5979de;
$night-mini-day-active-color: #ffffff;
$night-mini-today-color: #5979de;
$night-mini-fake-bg: rgba(255, 255, 255, 0.08);
$night-mini-fake-color: $white36;
$night-pomotimer-bg: #303132;
$night-pomotimer-time-color: $white85;
$night-pomotimer-title-color: $white36;
$night-pomotimer-setting-color: $white24;
$night-pomotimer-border-top-color: $white12;
$night-pomotimer-progress-color: #ffffff;
$night-upgrade-button-bg: #303132;
$night-button-primary-bg: #5979de;
$night-button-primary-hover-bg: #4f69c3;
$night-button-primary-active-bg: #435ca8;
$night-button-disabled-bg: #a5b6ee;

// pink theme
$pink-theme: #fd7897;
$pink-color: #18030c;

// green theme
$green-theme: #06ce90;
$green-color: #051c1b;

// yellow theme
$yellow-theme: #f9bf13;
$yellow-color: #1f1405;

// HangZhou theme
$hangzhou-basestyle-font-color: $white;
$hangzhou: #419f90;
$hangzhou-color: #204841;
$hangzhou-min-cal: rgba(#2da0ae, 0.9);
$hangzhou-c-task-bg: $hangzhou;
$hangzhou-input-bg: rgba(71, 113, 109, 0.08);
$hangzhou-input-active-border-color: rgba(108, 196, 174, 0.54);
$hangzhou-dropdown-item-hover-bg: $hangzhou-input-bg;
$hangzhou-task-active-bg: rgba(#6cc4ae, 0.14);
$hangzhou-task-hover-bg: rgba(#6cc4ae, 0.08);
$hangzhou-column-task-active-bg: #cdece2;
$hangzhou-column-task-hover-bg: #ddf2e9;
$hangzhou-sidebar-active-bg: rgba(#0c6b62, 0.28);
$hangzhou-sidebar-hover-bg: rgba(#0c6b62, 0.12);
$hangzhou-column-bg: #e9f7f3;
$hangzhou-sidebar-inner-date-color: #4b959a;
$hangzhou-mini-bg: rgba(98, 177, 164, 0.94);
$hangzhou-mini-btn-color: #ffffff;
$hangzhou-mini-btn-bg: rgba(255, 255, 255, 0.12);
$hangzhou-mini-header-color: rgba(255, 255, 255, 0.54);
$hangzhou-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$hangzhou-mini-day-active-task-tip-bg: rgba(65, 159, 144, 0.54);
$hangzhou-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$hangzhou-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$hangzhou-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$hangzhou-mini-day-active-bg: #ffffff;
$hangzhou-mini-day-active-color: #419f90;
$hangzhou-mini-today-color: #066f5f;
$hangzhou-mini-fake-bg: rgba(255, 255, 255, 0.08);
$hangzhou-mini-fake-color: $white36;
$hangzhou-pomotimer-bg: rgba(98, 177, 164, 0.94);
$hangzhou-pomotimer-time-color: $white85;
$hangzhou-pomotimer-title-color: $white36;
$hangzhou-pomotimer-setting-color: $white24;
$hangzhou-pomotimer-border-top-color: $white12;
$hangzhou-pomotimer-progress-color: #ffffff;
$hangzhou-upgrade-button-bg: rgba(98, 177, 164, 0.94);
$hangzhou-button-primary-bg: #419f90;
$hangzhou-button-primary-hover-bg: #398b7e;
$hangzhou-button-primary-active-bg: #31786d;
$hangzhou-button-disabled-bg: #98cbc3;

// BeiJIng theme
$beijing-basestyle-font-color: $white;
$beijing: #df4c45;
$beijing-color: #921d17;
$beijing-min-cal: rgba(#b3404b, 0.9);
$beijing-c-task-bg: $beijing;
$beijing-input-bg: rgba(140, 75, 85, 0.08);
$beijing-input-active-border-color: rgba(223, 76, 69, 0.36);
$beijing-dropdown-item-hover-bg: $beijing-input-bg;
$beijing-task-active-bg: rgba(#e05c56, 0.12);
$beijing-task-hover-bg: rgba(#e05c56, 0.06);
$beijing-column-task-active-bg: #eed2d4;
$beijing-column-task-hover-bg: #f4e0e2;
$beijing-sidebar-active-bg: rgba(#c64d48, 0.28);
$beijing-sidebar-hover-bg: rgba(#c64d48, 0.1);
$beijing-column-bg: #f7edee;
$beijing-sidebar-inner-date-color: #9a8fa2;
$beijing-mini-bg: rgba(200, 112, 108, 0.94);
$beijing-mini-btn-color: #ffffff;
$beijing-mini-btn-bg: rgba(255, 255, 255, 0.12);
$beijing-mini-header-color: rgba(255, 255, 255, 0.54);
$beijing-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$beijing-mini-day-active-task-tip-bg: rgba(223, 76, 69, 0.54);
$beijing-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$beijing-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$beijing-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$beijing-mini-day-active-bg: #ffffff;
$beijing-mini-day-active-color: #df4c45;
$beijing-mini-today-color: #990700;
$beijing-mini-fake-bg: rgba(255, 255, 255, 0.08);
$beijing-mini-fake-color: $white36;
$beijing-pomotimer-bg: rgba(200, 112, 108, 0.94);
$beijing-pomotimer-time-color: $white85;
$beijing-pomotimer-title-color: $white36;
$beijing-pomotimer-setting-color: $white24;
$beijing-pomotimer-border-top-color: $white12;
$beijing-pomotimer-progress-color: #ffffff;
$beijing-upgrade-button-bg: rgba(200, 112, 108, 0.94);
$beijing-button-primary-bg: #df4c45;
$beijing-button-primary-hover-bg: #c3423c;
$beijing-button-primary-active-bg: #a93934;
$beijing-button-disabled-bg: #efa5a2;

// ShangHai theme
$shanghai-basestyle-font-color: $white;
$shanghai: #7013a0;
$shanghai-color: #561775;
$shanghai-min-cal: rgba(#4957ca, 0.9);
$shanghai-c-task-bg: $shanghai;
$shanghai-input-bg: rgba(104, 74, 97, 0.08);
$shanghai-input-active-border-color: rgba(107, 46, 199, 0.36);
$shanghai-dropdown-item-hover-bg: $shanghai-input-bg;
$shanghai-task-active-bg: rgba(#6b2ec7, 0.12);
$shanghai-task-hover-bg: rgba(#6b2ec7, 0.08);
$shanghai-column-task-active-bg: #dcd4f5;
$shanghai-column-task-hover-bg: #e6dbf8;
$shanghai-sidebar-active-bg: rgba(#482e7b, 0.36);
$shanghai-sidebar-hover-bg: rgba(#482e7b, 0.12);
$shanghai-column-bg: #ebe8fb;
$shanghai-sidebar-inner-date-color: #5b61cd;
$shanghai-mini-bg: rgba(129, 89, 173, 0.94);
$shanghai-mini-btn-color: #ffffff;
$shanghai-mini-btn-bg: rgba(255, 255, 255, 0.12);
$shanghai-mini-header-color: rgba(255, 255, 255, 0.54);
$shanghai-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$shanghai-mini-day-active-task-tip-bg: rgba(112, 19, 160, 0.54);
$shanghai-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$shanghai-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$shanghai-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$shanghai-mini-day-active-bg: #ffffff;
$shanghai-mini-day-active-color: #7013a0;
$shanghai-mini-today-color: #440464;
$shanghai-mini-fake-bg: rgba(255, 255, 255, 0.08);
$shanghai-mini-fake-color: $white36;
$shanghai-pomotimer-bg: rgba(129, 89, 173, 0.94);
$shanghai-pomotimer-time-color: $white85;
$shanghai-pomotimer-title-color: $white36;
$shanghai-pomotimer-setting-color: $white24;
$shanghai-pomotimer-border-top-color: $white12;
$shanghai-pomotimer-progress-color: #ffffff;
$shanghai-upgrade-button-bg: rgba(129, 89, 173, 0.94);
$shanghai-button-primary-bg: #7013a0;
$shanghai-button-primary-hover-bg: #62108c;
$shanghai-button-primary-active-bg: #550e79;
$shanghai-button-disabled-bg: #b17fcb;

// London theme
$london-basestyle-font-color: $white;
$london: #5e2da5;
$london-color: #461d82;
$london-min-cal: rgba(#834eb5, 0.9);
$london-c-task-bg: $london;
$london-input-bg: rgba(101, 82, 110, 0.08);
$london-input-active-border-color: rgba(198, 133, 197, 0.36);
$london-dropdown-item-hover-bg: $london-input-bg;
$london-task-active-bg: rgba(#c685c5, 0.14);
$london-task-hover-bg: rgba(#c685c5, 0.06);
$london-column-task-active-bg: #ead1e8;
$london-column-task-hover-bg: #ecdbee;
$london-sidebar-active-bg: rgba(#5f28a9, 0.36);
$london-sidebar-hover-bg: rgba(#5f28a9, 0.12);
$london-column-bg: #f4e9f6;
$london-sidebar-inner-date-color: #91529c;
$london-mini-bg: rgba(113, 71, 173, 0.94);
$london-mini-btn-color: #ffffff;
$london-mini-btn-bg: rgba(255, 255, 255, 0.12);
$london-mini-header-color: rgba(255, 255, 255, 0.54);
$london-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$london-mini-day-active-task-tip-bg: rgba(94, 45, 165, 0.54);
$london-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$london-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$london-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$london-mini-day-active-bg: #ffffff;
$london-mini-day-active-color: #5e2da5;
$london-mini-today-color: #290065;
$london-mini-fake-bg: rgba(255, 255, 255, 0.08);
$london-mini-fake-color: $white36;
$london-pomotimer-bg: rgba(113, 71, 173, 0.94);
$london-pomotimer-time-color: $white85;
$london-pomotimer-title-color: $white36;
$london-pomotimer-setting-color: $white24;
$london-pomotimer-border-top-color: $white12;
$london-pomotimer-progress-color: #ffffff;
$london-upgrade-button-bg: rgba(113, 71, 173, 0.94);
$london-button-primary-bg: #5e2da5;
$london-button-primary-hover-bg: #522790;
$london-button-primary-active-bg: #47227d;
$london-button-disabled-bg: #a88dce;

// Moscow theme
$moscow-basestyle-font-color: $white;
$moscow: #4a99ae;
$moscow-color: #163740;
$moscow-min-cal: rgba(#0095ad, 0.9);
$moscow-c-task-bg: $moscow;
$moscow-input-bg: rgba(94, 123, 131, 0.08);
$moscow-input-active-border-color: rgba(33, 156, 178, 0.36);
$moscow-dropdown-item-hover-bg: $moscow-input-bg;
$moscow-task-active-bg: rgba(#219cb2, 0.12);
$moscow-task-hover-bg: rgba(#219cb2, 0.06);
$moscow-column-task-active-bg: #c5e5ea;
$moscow-column-task-hover-bg: #d3e7ec;
$moscow-sidebar-active-bg: rgba(#003a49, 0.3);
$moscow-sidebar-hover-bg: rgba(#003a49, 0.12);
$moscow-column-bg: #e4f2f4;
$moscow-sidebar-inner-date-color: #207383;
$moscow-mini-bg: rgba(74, 153, 174, 0.94);
$moscow-mini-btn-color: #ffffff;
$moscow-mini-btn-bg: rgba(255, 255, 255, 0.12);
$moscow-mini-header-color: rgba(255, 255, 255, 0.54);
$moscow-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$moscow-mini-day-active-task-tip-bg: rgba(74, 153, 174, 0.54);
$moscow-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$moscow-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$moscow-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$moscow-mini-day-active-bg: #ffffff;
$moscow-mini-day-active-color: #4a99ae;
$moscow-mini-today-color: #014f63;
$moscow-mini-fake-bg: rgba(255, 255, 255, 0.08);
$moscow-mini-fake-color: $white36;
$moscow-pomotimer-bg: rgba(74, 153, 174, 0.94);
$moscow-pomotimer-time-color: $white85;
$moscow-pomotimer-title-color: $white36;
$moscow-pomotimer-setting-color: $white24;
$moscow-pomotimer-border-top-color: $white12;
$moscow-pomotimer-progress-color: #ffffff;
$moscow-upgrade-button-bg: rgba(74, 153, 174, 0.94);
$moscow-button-primary-bg: #4a99ae;
$moscow-button-primary-hover-bg: #418698;
$moscow-button-primary-active-bg: #387484;
$moscow-button-disabled-bg: #9dc8d3;

// NewYork theme
$newyork-basestyle-font-color: $white;
$newyork: #f58646;
$newyork-color: #7c3c18;
$newyork-min-cal: rgba(#f58646, 0.4);
$newyork-c-task-bg: rgba(#f58646, 0.4);
$newyork-input-bg: rgba(#69474e, 0.08);
$newyork-input-active-border-color: rgba(#f58646, 0.54);
$newyork-dropdown-item-hover-bg: $newyork-input-bg;
$newyork-task-active-bg: rgba(#f58646, 0.12);
$newyork-task-hover-bg: rgba(#f58646, 0.06);
$newyork-column-task-active-bg: rgba(#f58646, 0.12);
$newyork-column-task-hover-bg: rgba(#f58646, 0.12);
$newyork-sidebar-active-bg: rgba(#c72e00, 0.36);
$newyork-sidebar-hover-bg: rgba(#c72e00, 0.18);
$newyork-column-bg: #fcf2ed;
$newyork-sidebar-inner-date-color: #7c3c18;
$newyork-mini-bg: rgba(#f58646, 0.84);
$newyork-mini-btn-color: #ffffff;
$newyork-mini-btn-bg: rgba(255, 255, 255, 0.12);
$newyork-mini-header-color: rgba(255, 255, 255, 0.54);
$newyork-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$newyork-mini-day-active-task-tip-bg: rgba(#f58646, 0.54);
$newyork-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$newyork-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$newyork-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$newyork-mini-day-active-bg: #ffffff;
$newyork-mini-day-active-color: #f58646;
$newyork-mini-today-color: #7c3c18;
$newyork-mini-fake-bg: rgba(#f58646, 0.08);
$newyork-mini-fake-color: $white36;
$newyork-pomotimer-bg: rgba(#f58646, 0.84);
$newyork-pomotimer-time-color: $white85;
$newyork-pomotimer-title-color: $white36;
$newyork-pomotimer-setting-color: $white24;
$newyork-pomotimer-border-top-color: $white12;
$newyork-pomotimer-progress-color: #ffffff;
$newyork-upgrade-button-bg: rgba(#f58646, 0.94);
$newyork-button-primary-bg: #f58646;
$newyork-button-primary-hover-bg: #db783f;
$newyork-button-primary-active-bg: #c26a37;
$newyork-button-disabled-bg: #f5c5a9;

// San Francisco theme
$sanfrancisco-basestyle-font-color: $white;
$sanfrancisco: #e7854e;
$sanfrancisco-color: #592b12;
$sanfrancisco-min-cal: rgba(#e57b4d, 0.9);
$sanfrancisco-c-task-bg: $sanfrancisco;
$sanfrancisco-input-bg: rgba(116, 85, 79, 0.08);
$sanfrancisco-input-active-border-color: rgba(232, 113, 59, 0.36);
$sanfrancisco-dropdown-item-hover-bg: $sanfrancisco-input-bg;
$sanfrancisco-task-active-bg: rgba(#e8713b, 0.12);
$sanfrancisco-task-hover-bg: rgba(#e8713b, 0.06);
$sanfrancisco-column-task-active-bg: #fadaca;
$sanfrancisco-column-task-hover-bg: #fde5d8;
$sanfrancisco-sidebar-active-bg: rgba(#c53014, 0.36);
$sanfrancisco-sidebar-hover-bg: rgba(#c53014, 0.12);
$sanfrancisco-column-bg: #feede5;
$sanfrancisco-sidebar-inner-date-color: #ce7250;
$sanfrancisco-mini-bg: rgba(221, 136, 89, 0.94);
$sanfrancisco-mini-btn-color: #ffffff;
$sanfrancisco-mini-btn-bg: rgba(255, 255, 255, 0.12);
$sanfrancisco-mini-header-color: rgba(255, 255, 255, 0.54);
$sanfrancisco-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$sanfrancisco-mini-day-active-task-tip-bg: rgba(231, 133, 78, 0.54);
$sanfrancisco-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$sanfrancisco-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$sanfrancisco-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$sanfrancisco-mini-day-active-bg: #ffffff;
$sanfrancisco-mini-day-active-color: #e7854e;
$sanfrancisco-mini-today-color: #97471c;
$sanfrancisco-mini-fake-bg: rgba(255, 255, 255, 0.08);
$sanfrancisco-mini-fake-color: $white36;
$sanfrancisco-pomotimer-bg: rgba(221, 136, 89, 0.94);
$sanfrancisco-pomotimer-time-color: $white85;
$sanfrancisco-pomotimer-title-color: $white36;
$sanfrancisco-pomotimer-setting-color: $white24;
$sanfrancisco-pomotimer-border-top-color: $white12;
$sanfrancisco-pomotimer-progress-color: #ffffff;
$sanfrancisco-upgrade-button-bg: rgba(221, 136, 89, 0.94);
$sanfrancisco-button-primary-bg: #e7854e;
$sanfrancisco-button-primary-hover-bg: #ca7444;
$sanfrancisco-button-primary-active-bg: #af653b;
$sanfrancisco-button-disabled-bg: #f2bd9f;

// Sydney theme
$sydney-basestyle-font-color: $white;
$sydney: #3d48b9;
$sydney-color: #323771;
$sydney-min-cal: rgba(#345aae, 0.9);
$sydney-c-task-bg: $sydney;
$sydney-input-bg: rgba(28, 33, 93, 0.08);
$sydney-input-active-border-color: rgba(46, 73, 199, 0.36);
$sydney-dropdown-item-hover-bg: $sydney-input-bg;
$sydney-task-active-bg: rgba(#2e49c7, 0.12);
$sydney-task-hover-bg: rgba(#2e49c7, 0.06);
$sydney-column-task-active-bg: #c9d3ec;
$sydney-column-task-hover-bg: #d5dff6;
$sydney-sidebar-active-bg: rgba(#343180, 0.64);
$sydney-sidebar-hover-bg: rgba(#343180, 0.36);
$sydney-column-bg: #e4e6ef;
$sydney-sidebar-inner-date-color: #171726;
$sydney-mini-bg: rgba(74, 82, 157, 0.94);
$sydney-mini-btn-color: #ffffff;
$sydney-mini-btn-bg: rgba(255, 255, 255, 0.12);
$sydney-mini-header-color: rgba(255, 255, 255, 0.54);
$sydney-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$sydney-mini-day-active-task-tip-bg: rgba(61, 72, 185, 0.54);
$sydney-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$sydney-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$sydney-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$sydney-mini-day-active-bg: #ffffff;
$sydney-mini-day-active-color: #3d48b9;
$sydney-mini-today-color: #000965;
$sydney-mini-fake-bg: rgba(255, 255, 255, 0.08);
$sydney-mini-fake-color: $white36;
$sydney-pomotimer-bg: rgba(74, 82, 157, 0.94);
$sydney-pomotimer-time-color: $white85;
$sydney-pomotimer-title-color: $white36;
$sydney-pomotimer-setting-color: $white24;
$sydney-pomotimer-border-top-color: $white12;
$sydney-pomotimer-progress-color: #ffffff;
$sydney-upgrade-button-bg: rgba(74, 82, 157, 0.94);
$sydney-button-primary-bg: #3d48b9;
$sydney-button-primary-hover-bg: #353fa2;
$sydney-button-primary-active-bg: #2e368c;
$sydney-button-disabled-bg: #969cd9;

// Tokyo theme
$tokyo-basestyle-font-color: $white;
$tokyo: #df5884;
$tokyo-color: #873852;
$tokyo-min-cal: rgba(#e2729d, 0.9);
$tokyo-c-task-bg: $tokyo;
$tokyo-input-bg: rgba(105, 71, 78, 0.08);
$tokyo-input-active-border-color: rgba(199, 46, 60, 0.36);
$tokyo-dropdown-item-hover-bg: $tokyo-input-bg;
$tokyo-task-active-bg: rgba(#c72e3c, 0.12);
$tokyo-task-hover-bg: rgba(#c72e3c, 0.06);
$tokyo-column-task-active-bg: #f3ced1;
$tokyo-column-task-hover-bg: #f6dadd;
$tokyo-sidebar-active-bg: rgba(#ac4467, 0.36);
$tokyo-sidebar-hover-bg: rgba(#ac4467, 0.14);
$tokyo-column-bg: #fbeaec;
$tokyo-sidebar-inner-date-color: #c56f87;
$tokyo-mini-bg: rgba(214, 118, 149, 0.94);
$tokyo-mini-btn-color: #ffffff;
$tokyo-mini-btn-bg: rgba(255, 255, 255, 0.12);
$tokyo-mini-header-color: rgba(255, 255, 255, 0.54);
$tokyo-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$tokyo-mini-day-active-task-tip-bg: rgba(223, 88, 132, 0.54);
$tokyo-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$tokyo-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$tokyo-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$tokyo-mini-day-active-bg: #ffffff;
$tokyo-mini-day-active-color: #df5884;
$tokyo-mini-today-color: #b91649;
$tokyo-mini-fake-bg: rgba(255, 255, 255, 0.08);
$tokyo-mini-fake-color: $white36;
$tokyo-pomotimer-bg: rgba(214, 118, 149, 0.94);
$tokyo-pomotimer-time-color: $white85;
$tokyo-pomotimer-title-color: $white36;
$tokyo-pomotimer-setting-color: $white24;
$tokyo-pomotimer-border-top-color: $white12;
$tokyo-pomotimer-progress-color: #ffffff;
$tokyo-upgrade-button-bg: rgba(214, 118, 149, 0.94);
$tokyo-button-primary-bg: #df5884;
$tokyo-button-primary-hover-bg: #c34d73;
$tokyo-button-primary-active-bg: #a94264;
$tokyo-button-disabled-bg: #eda5bc;

// ShenZhen theme
$shenzhen-basestyle-font-color: $white;
$shenzhen: #086662;
$shenzhen-color: #002422;
// $shenzhen-color: #561775;
$shenzhen-min-cal: rgba(#4957ca, 0.9);
$shenzhen-c-task-bg: $shenzhen;
$shenzhen-input-bg: rgba(46, 105, 102, 0.08);
$shenzhen-input-active-border-color: rgba(28, 125,102, 0.36);
$shenzhen-dropdown-item-hover-bg: $shenzhen-input-bg;
$shenzhen-task-active-bg: rgba(#1C7D66, 0.16);
$shenzhen-task-hover-bg: rgba(#1C7D66, 0.06);
$shenzhen-column-task-active-bg: #B4E2E0;
$shenzhen-column-task-hover-bg: #C5E4E3;
$shenzhen-sidebar-active-bg: rgba(#06534F, 0.64);
$shenzhen-sidebar-hover-bg: rgba(#06534F, 0.36);
$shenzhen-column-bg: #E0F2F1;
$shenzhen-sidebar-inner-date-color: #249484;
$shenzhen-mini-bg: rgba(16, 112, 107, 0.94);
$shenzhen-mini-btn-color: #ffffff;
$shenzhen-mini-btn-bg: rgba(255, 255, 255, 0.12);
$shenzhen-mini-header-color: rgba(255, 255, 255, 0.54);
$shenzhen-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$shenzhen-mini-day-active-task-tip-bg: rgba(6, 83, 79, 0.54);
$shenzhen-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$shenzhen-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$shenzhen-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$shenzhen-mini-day-active-bg: #ffffff;
$shenzhen-mini-day-active-color: #086662;
$shenzhen-mini-today-color: #012E2B;
$shenzhen-mini-fake-bg: rgba(255, 255, 255, 0.08);
$shenzhen-mini-fake-color: $white36;
$shenzhen-pomotimer-bg: rgba(16, 112, 107, 0.94);
$shenzhen-pomotimer-time-color: $white85;
$shenzhen-pomotimer-title-color: $white36;
$shenzhen-pomotimer-setting-color: $white24;
$shenzhen-pomotimer-border-top-color: $white12;
$shenzhen-pomotimer-progress-color: #ffffff;
$shenzhen-upgrade-button-bg: rgba(16, 112, 107, 0.94);
$shenzhen-button-primary-bg: #086662;
$shenzhen-button-primary-hover-bg: #065451;
$shenzhen-button-primary-active-bg: #044643;
$shenzhen-button-disabled-bg: #75B3B0;

// GuangZhou theme
$guangzhou-basestyle-font-color: $white;
$guangzhou: #0048A3;
$guangzhou-color: #011E42;
// $guangzhou-color: #561775;
$guangzhou-min-cal: rgba(#4957ca, 0.9);
$guangzhou-c-task-bg: $guangzhou;
$guangzhou-input-bg: rgba(74, 102, 137, 0.08);
$guangzhou-input-active-border-color: rgba(0, 72, 163, 0.36);
$guangzhou-dropdown-item-hover-bg: $guangzhou-input-bg;
$guangzhou-task-active-bg: rgba(#0A4897, 0.12);
$guangzhou-task-hover-bg: rgba(#0A4897, 0.06);
$guangzhou-column-task-active-bg: #BAD3F2;
$guangzhou-column-task-hover-bg: #C8DEF8;
$guangzhou-sidebar-active-bg: rgba(#0D3B76, 0.64);
$guangzhou-sidebar-hover-bg: rgba(#0D3B76, 0.23);
$guangzhou-column-bg: #E3ECF7;
$guangzhou-sidebar-inner-date-color: #27629F;
$guangzhou-mini-bg: rgba(42, 87, 143, 0.94);
$guangzhou-mini-btn-color: #ffffff;
$guangzhou-mini-btn-bg: rgba(255, 255, 255, 0.12);
$guangzhou-mini-header-color: rgba(255, 255, 255, 0.54);
$guangzhou-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$guangzhou-mini-day-active-task-tip-bg: rgba(13,59,118,0.54);
$guangzhou-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$guangzhou-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$guangzhou-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$guangzhou-mini-day-active-bg: #ffffff;
$guangzhou-mini-day-active-color: #0048A3;
$guangzhou-mini-today-color: #041E3E;
$guangzhou-mini-fake-bg: rgba(255, 255, 255, 0.08);
$guangzhou-mini-fake-color: $white36;
$guangzhou-pomotimer-bg: rgba(42, 87, 143, 0.94);
$guangzhou-pomotimer-time-color: $white85;
$guangzhou-pomotimer-title-color: $white36;
$guangzhou-pomotimer-setting-color: $white24;
$guangzhou-pomotimer-border-top-color: $white12;
$guangzhou-pomotimer-progress-color: #ffffff;
$guangzhou-upgrade-button-bg: rgba(42, 87, 143, 0.94);
$guangzhou-button-primary-bg: #0048A3;
$guangzhou-button-primary-hover-bg: #003F8F;
$guangzhou-button-primary-active-bg: #003475;
$guangzhou-button-disabled-bg: #7FA1CC;

// Seoul theme
$seoul-basestyle-font-color: $white;
$seoul: #4da8a0;
$seoul-color: #1f3b39;
$seoul-min-cal: rgba(#1f938d, 0.9);
$seoul-c-task-bg: $seoul;
$seoul-input-bg: rgba(77, 111, 108, 0.08);
$seoul-input-active-border-color: rgba(59, 158, 138, 0.36);
$seoul-dropdown-item-hover-bg: $seoul-input-bg;
$seoul-task-active-bg: rgba(#3b9e8a, 0.12);
$seoul-task-hover-bg: rgba(#3b9e8a, 0.08);
$seoul-column-task-active-bg: #c8e6e1;
$seoul-column-task-hover-bg: #d3ece8;
$seoul-sidebar-active-bg: rgba(#2b615f, 0.24);
$seoul-sidebar-hover-bg: rgba(#2b615f, 0.12);
$seoul-column-bg: #e9f6f5;
$seoul-sidebar-inner-date-color: #649ea6;
$seoul-mini-bg: rgba(68, 182, 172, 0.94);
$seoul-mini-btn-color: #ffffff;
$seoul-mini-btn-bg: rgba(255, 255, 255, 0.12);
$seoul-mini-header-color: rgba(255, 255, 255, 0.54);
$seoul-mini-task-tip-bg: rgba(255, 255, 255, 0.54);
$seoul-mini-day-active-task-tip-bg: rgba(77, 168, 160, 0.54);
$seoul-mini-day-in-month-color: rgba(255, 255, 255, 0.85);
$seoul-mini-day-out-month-color: rgba(255, 255, 255, 0.36);
$seoul-mini-day-hover-bg: rgba(255, 255, 255, 0.12);
$seoul-mini-day-active-bg: #ffffff;
$seoul-mini-day-active-color: #4da8a0;
$seoul-mini-today-color: #0b7c72;
$seoul-mini-fake-bg: rgba(255, 255, 255, 0.08);
$seoul-mini-fake-color: $white36;
$seoul-pomotimer-bg: rgba(68, 182, 172, 0.94);
$seoul-pomotimer-time-color: $white85;
$seoul-pomotimer-title-color: $white36;
$seoul-pomotimer-setting-color: $white24;
$seoul-pomotimer-border-top-color: $white12;
$seoul-pomotimer-progress-color: #ffffff;
$seoul-upgrade-button-bg: rgba(68, 182, 172, 0.94);
$seoul-button-primary-bg: #4da8a0;
$seoul-button-primary-hover-bg: #43938c;
$seoul-button-primary-active-bg: #3a7f79;
$seoul-button-disabled-bg: #9fd0cb;

$season-basestyle-font-color: $black;

// Spring theme
$spring: #4ca349;
$spring-color: #456037;
$spring-min-cal: rgba(#fff, 0.9);
$spring-c-task-bg: $spring;
$spring-input-bg: rgba(90, 107, 77, 0.08);
$spring-input-active-border-color: rgba(115, 158, 82, 0.36);
$spring-dropdown-item-hover-bg: $spring-input-bg;
$spring-task-active-bg: rgba(#739e52, 0.12);
$spring-task-hover-bg: rgba(#739e52, 0.06);
$spring-column-task-active-bg: #d7e5cc;
$spring-column-task-hover-bg: #e0ecda;
$spring-sidebar-active-bg: rgba(116, 192, 113, 0.32);
$spring-sidebar-hover-bg: rgba(116, 192, 113, 0.12);
$spring-column-bg: #f0f7ec;
$spring-sidebar-inner-date-color: #c5eaa9;
$spring-mini-bg: rgba(167, 218, 149, 0.94);
$spring-mini-btn-color: #000000;
$spring-mini-btn-bg: rgba(76, 163, 73, 0.24);
$spring-mini-header-color: rgba(0, 0, 0, 0.36);
$spring-mini-task-tip-bg: rgba(14, 165, 9, 0.54);
$spring-mini-day-active-task-tip-bg: rgba(255, 255, 255, 0.54);
$spring-mini-day-in-month-color: rgba(0, 0, 0, 0.85);
$spring-mini-day-out-month-color: rgba(0, 0, 0, 0.24);
$spring-mini-day-hover-bg: rgba(76, 163, 73, 0.24);
$spring-mini-day-active-bg: #0ea509;
$spring-mini-day-active-color: #ffffff;
$spring-mini-today-color: #048400;
$spring-mini-fake-bg: rgba(44, 66, 118, 0.08);
$spring-mini-fake-color: $black36;
$spring-pomotimer-bg: rgba(167, 218, 149, 0.94);
$spring-pomotimer-time-color: $black85;
$spring-pomotimer-title-color: $black36;
$spring-pomotimer-setting-color: $black24;
$spring-pomotimer-border-top-color: $black12;
$spring-pomotimer-progress-color: #0ea509;
$spring-upgrade-button-bg: rgba(167, 218, 149, 0.94);
$spring-button-primary-bg: #4ca349;
$spring-button-primary-hover-bg: #428f40;
$spring-button-primary-active-bg: #397c37;
$spring-button-disabled-bg: #9ecd9c;

// Summer theme
$summer: #00ace7;
$summer-color: #36616f;
$summer-min-cal: rgba(#fff, 0.9);
$summer-c-task-bg: $summer;
$summer-input-bg: rgba(71, 103, 115, 0.08);
$summer-input-active-border-color: rgba(111, 187, 207, 0.36);
$summer-dropdown-item-hover-bg: $summer-input-bg;
$summer-task-active-bg: rgba(#6fbbcf, 0.16);
$summer-task-hover-bg: rgba(#6fbbcf, 0.08);
$summer-column-task-active-bg: #cee9f0;
$summer-column-task-hover-bg: #d5eff8;
$summer-sidebar-active-bg: rgba(84, 183, 218, 0.46);
$summer-sidebar-hover-bg: rgba(84, 183, 218, 0.24);
$summer-column-bg: #ebf7fa;
$summer-sidebar-inner-date-color: #9ce2f5;
$summer-mini-bg: rgba(129, 210, 234, 0.94);
$summer-mini-btn-color: #000000;
$summer-mini-btn-bg: rgba(0, 150, 201, 0.24);
$summer-mini-header-color: rgba(0, 0, 0, 0.36);
$summer-mini-task-tip-bg: rgba(0, 150, 201, 0.54);
$summer-mini-day-active-task-tip-bg: rgba(255, 255, 255, 0.54);
$summer-mini-day-in-month-color: rgba(0, 0, 0, 0.85);
$summer-mini-day-out-month-color: rgba(0, 0, 0, 0.24);
$summer-mini-day-hover-bg: rgba(0, 150, 201, 0.24);
$summer-mini-day-active-bg: #0096c9;
$summer-mini-day-active-color: #ffffff;
$summer-mini-today-color: #008dbd;
$summer-mini-fake-bg: rgba(44, 66, 118, 0.08);
$summer-mini-fake-color: $black36;
$summer-pomotimer-bg: rgba(129, 210, 234, 0.94);
$summer-pomotimer-time-color: $black85;
$summer-pomotimer-title-color: $black36;
$summer-pomotimer-setting-color: $black24;
$summer-pomotimer-border-top-color: $black12;
$summer-pomotimer-progress-color: #0096c9;
$summer-upgrade-button-bg: rgba(129, 210, 234, 0.94);
$summer-button-primary-bg: #00ace7;
$summer-button-primary-hover-bg: #0097ca;
$summer-button-primary-active-bg: #0082af;
$summer-button-disabled-bg: #75d2f2;

// Autumn theme
$autumn: #f28749;
$autumn-color: #6a3d24;
$autumn-min-cal: rgba(#fff, 0.9);
$autumn-c-task-bg: $autumn;
$autumn-input-bg: rgba(139, 80, 36, 0.08);
$autumn-input-active-border-color: rgba(232, 113, 59, 0.36);
$autumn-dropdown-item-hover-bg: $autumn-input-bg;
$autumn-task-active-bg: rgba(#e8713b, 0.12);
$autumn-task-hover-bg: rgba(#e8713b, 0.06);
$autumn-column-task-active-bg: #fedccd;
$autumn-column-task-hover-bg: #ffe5db;
$autumn-sidebar-active-bg: rgba(255, 137, 73, 0.32);
$autumn-sidebar-hover-bg: rgba(255, 137, 73, 0.14);
$autumn-column-bg: #feefe8;
$autumn-sidebar-inner-date-color: #ffdfca;
$autumn-mini-bg: rgba(255, 191, 155, 0.94);
$autumn-mini-btn-color: #000000;
$autumn-mini-btn-bg: rgba(227, 94, 17, 0.24);
$autumn-mini-header-color: rgba(0, 0, 0, 0.36);
$autumn-mini-task-tip-bg: rgba(227, 94, 17, 0.54);
$autumn-mini-day-active-task-tip-bg: rgba(255, 255, 255, 0.54);
$autumn-mini-day-in-month-color: rgba(0, 0, 0, 0.85);
$autumn-mini-day-out-month-color: rgba(0, 0, 0, 0.24);
$autumn-mini-day-hover-bg: rgba(227, 94, 17, 0.24);
$autumn-mini-day-active-bg: #e35e11;
$autumn-mini-day-active-color: #ffffff;
$autumn-mini-today-color: #cf4c00;
$autumn-mini-fake-bg: rgba(44, 66, 118, 0.08);
$autumn-mini-fake-color: $black36;
$autumn-pomotimer-bg: rgba(255, 191, 155, 0.94);
$autumn-pomotimer-time-color: $black85;
$autumn-pomotimer-title-color: $black36;
$autumn-pomotimer-setting-color: $black24;
$autumn-pomotimer-border-top-color: $black12;
$autumn-pomotimer-progress-color: #e35e11;
$autumn-upgrade-button-bg: rgba(255, 191, 155, 0.94);
$autumn-button-primary-bg: #f28749;
$autumn-button-primary-hover-bg: #d47640;
$autumn-button-primary-active-bg: #b86637;
$autumn-button-disabled-bg: #f8be9c;

// Winter theme
$winter: #698fd6;
$winter-color: #3a507a;
$winter-min-cal: rgba(#fff, 0.9);
$winter-c-task-bg: $winter;
$winter-input-bg: rgba(59, 89, 152, 0.08);
$winter-input-active-border-color: rgba(195, 220, 252, 0.85);
$winter-dropdown-item-hover-bg: $winter-input-bg;
$winter-task-active-bg: rgba(#c3dcfc, 0.35);
$winter-task-hover-bg: rgba(#c3dcfc, 0.12);
$winter-column-task-active-bg: #d8e9fd;
$winter-column-task-hover-bg: #e4f0ff;
$winter-sidebar-active-bg: rgba(124, 148, 199, 0.36);
$winter-sidebar-hover-bg: rgba(124, 148, 199, 0.16);
$winter-column-bg: #eef5fd;
$winter-sidebar-inner-date-color: #c9d9f0;
$winter-mini-bg: rgba(172, 191, 224, 0.94);
$winter-mini-btn-color: #000000;
$winter-mini-btn-bg: rgba(76, 122, 209, 0.24);
$winter-mini-header-color: rgba(0, 0, 0, 0.36);
$winter-mini-task-tip-bg: rgba(76, 122, 209, 0.54);
$winter-mini-day-active-task-tip-bg: rgba(255, 255, 255, 0.54);
$winter-mini-day-in-month-color: rgba(0, 0, 0, 0.85);
$winter-mini-day-out-month-color: rgba(0, 0, 0, 0.24);
$winter-mini-day-hover-bg: rgba(76, 122, 209, 0.24);
$winter-mini-day-active-bg: #4c7ad1;
$winter-mini-day-active-color: #ffffff;
$winter-mini-today-color: #1454cd;
$winter-mini-fake-bg: rgba(44, 66, 118, 0.08);
$winter-mini-fake-color: $black36;
$winter-pomotimer-bg: rgba(172, 191, 224, 0.94);
$winter-pomotimer-time-color: $black85;
$winter-pomotimer-title-color: $black36;
$winter-pomotimer-setting-color: $black24;
$winter-pomotimer-border-top-color: $black12;
$winter-pomotimer-progress-color: #4c7ad1;
$winter-upgrade-button-bg: rgba(172, 191, 224, 0.94);
$winter-button-primary-bg: #698fd6;
$winter-button-primary-hover-bg: #5c7dbb;
$winter-button-primary-active-bg: #4f6ca2;
$winter-button-disabled-bg: #aec2e9;

$underline: #5067b5;
