@import "./scss/utils/variables";
.container {
    margin-top: rem-calc(20);
    display: flex;
    flex-wrap: wrap;
    .cardWrapper {
        flex: 1 1 rem-calc(472);
        margin-bottom: 16px;
        &:nth-of-type(2n) {
            margin-left: 16px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        display: block;
        .cardWrapper {
            &:nth-of-type(2n) {
                margin-left: 0;
            }
        }
    }
}
