.tag-modal-detail-view {
    width: $popup-med;
    padding-bottom: 0;

    .popup-body {
        padding-bottom: rem-calc(50);
    }

    .tag-detail-panel {
        .divider {
            border-top: rem-calc(1) solid;
            margin: rem-calc(10) 0;
            width: 100%;
        }

        .row {
            position: relative;

            &:not(:first-child) {
                margin-top: rem-calc(16);
            }

            .tag-name {
                width: 100%;
            }

            .text-alert {
                margin-top: rem-calc(5);
            }

            .tag-color {
                margin-top: rem-calc(-6);
                $total-w-h: rem-calc(32);
                $border-w-h: rem-calc(4);
                $content-w-h: $total-w-h - $border-w-h * 2;
                .jColorSelect {
                    line-height: $content-w-h;
                    padding: (rem-calc(40) - $content-w-h) / 2 0;
                    margin-top: rem-calc(-12);
                    .color {
                        display: inline-block;
                        height: $content-w-h;
                        width: $content-w-h;
                        margin-right: rem-calc(7);
                        margin-top: rem-calc(12);
                        border-radius: 50%;
                        position: relative;
                        cursor: pointer;
                        &:nth-child(15) {
                            margin-right: 0;
                        }
                        &.checked:after {
                            content: "";
                            position: absolute;
                            left: -$border-w-h;
                            top: -$border-w-h;
                            height: $total-w-h;
                            width: $total-w-h;
                            border-radius: 50%;
                            background-color: inherit;
                            opacity: 0.36;
                        }
                        svg {
                            height: $content-w-h;
                            width: $content-w-h;
                        }
                        &.checked:first-child:after {
                            background-color: $manatee;
                        }
                        .icon-color {
                            vertical-align: baseline;
                        }
                    }

                    div:first-child {
                        fill: $manatee;
                    }
                }
            }

            .select-merge-to {
                .select-menu {
                    width: rem-calc(220);
                }
                .sub-tag {
                    padding-left: rem-calc(24);
                }
            }
        }

        .confirm-project-box {
            margin-top: rem-calc(24);
        }
    }
}
