.orders-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    .panel-title {
        padding-top: rem-calc(16);
    }
    .orders {
        flex: 1;
    }
    .team-table {
        td,
        th {
            &:nth-child(1) {
                width: 14%;
                padding-right: rem-calc(6);
            }
            &:nth-child(2) {
                width: 14%;
                padding-right: rem-calc(6);
            }
            &:nth-child(3) {
                width: 25%;
                padding-right: rem-calc(6);
            }
            &:nth-child(4) {
                width: 10%;
                padding-right: rem-calc(6);
            }
            &:nth-child(5) {
                width: 10%;
                padding-right: rem-calc(6);
            }
            &:nth-child(6) {
                width: 13%;
                padding-right: rem-calc(6);
            }
            &:nth-child(7) {
                width: 14%;
                text-align: right;
            }
        }

        td:nth-child(2) {
            font-family: monospace;
        }
    }
}

body:not(.zh_CN) {
    .orders-panel {
        .team-table {
            td:nth-child(3) {
                white-space: normal;
                line-height: 1.5;
            }

            th:nth-child(5) {
                line-height: 1.2;
            }
        }
    }
}
