.members-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    & > section {
        margin-left: $s-base-right;
        margin-right: $s-base-right;
    }
    .overview {
        padding-top: rem-calc(8);
        .row-team-name {
            display: flex;
            align-items: center;
            margin-bottom: rem-calc(24);
            .team-name-editor {
                width: 100%;
                font-size: rem-calc(30);
                position: relative;
                border-bottom: 1px solid transparent;
                white-space: nowrap;
                overflow: hidden;
                &[disabled] {
                    &:hover {
                        cursor: default;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    cursor: text;
                    text-overflow: ellipsis;
                }

                &:empty:before {
                    content: attr(placeholder);
                    display: block;
                    /* For Firefox */
                    color: $black18;
                }
            }
        }

        .row-team-info {
            position: relative;
            ul {
                display: table;
                li {
                    display: table-row;
                    line-height: rem-calc(32);
                    & > span {
                        display: table-cell;
                        & + span {
                            padding-left: rem-calc(30);
                            & > span {
                                position: absolute;
                                &:first-child {
                                    float: left;
                                    position: relative;
                                }
                            }
                        }
                    }
                    .duedate-overdue {
                        .probation {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

    .actions {
        padding-top: rem-calc(24);
        padding-bottom: rem-calc(24);
        border-bottom: 1px solid;
        .row-team-actions {
            .btn {
                height: rem-calc(32);
            }
            .btn-buy {
                background: $pro;
                &:hover {
                    background: #d56d38;
                }
            }
            .btn-more {
                min-width: rem-calc(32);
                line-height: rem-calc(30);
                padding: 0 !important;
                background: $gallery;
                border-color: $black06;
                &:hover {
                    background-color: $alto;
                }
                [class^="icon-"] {
                    margin-top: rem-calc(-2);
                }
            }
            .btn + .btn {
                margin-left: rem-calc(16);
            }
        }
    }

    .members {
        flex: 1;
        margin: 0;
        .team-table {
            .team-table-header,
            .team-table-body {
                padding-left: $s-base-right;
            }
            .member-actions {
                visibility: hidden;
            }
            tr {
                &:hover {
                    .member-actions {
                        visibility: visible;
                    }
                }
                .member-actions.open {
                    visibility: visible;
                }
                border: none;
            }
            .member-actions-trigger {
                margin-left: rem-calc(2);
            }
            td {
                .avatar {
                    margin-right: rem-calc(8);
                    border-width: 1px;
                    border-style: solid;
                }
            }

            th,
            td {
                border-bottom: 1px solid;
                padding-right: 0;
                // width: calc((100% - 30px) / 3);
                &:nth-child(1) {
                    padding-right: rem-calc(6);
                    & > span {
                        vertical-align: baseline;
                    }
                }
                &:nth-child(2) {
                    padding-right: rem-calc(6);
                }
                &:nth-child(3) {
                    padding-left: rem-calc(6);
                    text-align: right;
                }
                &:nth-child(4) {
                    border: none;
                    width: $s-base-right;
                    padding-right: $s-base-right;
                    text-align: center;
                }
            }

            th {
                height: rem-calc(56);
            }
        }
    }
}
