@import "src/style/utils/var.scss";
.tl-bar {
    display: flex;
    align-items: center;

    .tl-bar-action-bar {
        z-index: 2;
    }

    .tl-bar-action {
        display: inline-block;
        margin-left: rem-calc(12);
    }

    .tl-bar-share-action {
        margin-left: rem-calc(8);
    }

    .tl-des {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
