.client {
    background: transparent;

	.g-left {
		width: 0;
		left: -$grid-left-width;
    }
    
    .summary {
        left: 0 !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }
}