@import "./scss/utils/variables";
.content {
    font-size: rem-calc(14);
    color: rgba($black, 0.65);
    line-height: rem-calc(18);
    white-space: pre-wrap;
    overflow: hidden;
    @include user-select(text);
}

.action {
    margin-top: rem-calc(6);
}

.collapseButton {
    font-size: rem-calc(12);
    color: $black36;
    line-height: rem-calc(15);
    cursor: pointer;
    svg {
        fill: $black36;
        width: rem-calc(12);
        height: rem-calc(12);
    }
}

[class*="-dark-theme"] {
    .content {
        color: $white65;
    }
    .collapseButton {
        color: $white36;
        svg {
            fill: $white36;
        }
    }
}
