@import "./scss/utils/variables";
.handleBar {
    position: relative;
    .foldHandler {
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        svg {
            width: rem-calc(12);
            height: rem-calc(12);
            vertical-align: baseline;
        }
        [class^="icon-"] {
            margin-right: 0;
        }
    }
}
.text {
    font-size: rem-calc(12);
}
