.mobileCardWrapper {
    margin-bottom: 16px;
    display: flex;
    .overviewCard {
        display: inline-block;
        flex: auto;
        padding: 15px 12px;
        width: 164px;
        background-color: white;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        overflow: hidden;
        .trendPlaceholder {
            height: 21px;
            width: 100%;
        }
        > h2 {
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.85);
            line-height: 16px;
            margin-bottom: 1px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        > p {
            margin-top: 12px;
            font-size: 36px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.85);
            line-height: 48px;
            > span {
                vertical-align: auto;
                font-size: 16px;
                font-weight: 400;
                color: rgba(35, 35, 35, 0.6);
                line-height: 16px;
                margin: 0 2px;
            }
        }
    }
    .split {
        flex: none;
        width: 15px;
    }
}

[class*="-dark-theme"] {
    .mobileCardWrapper {
        .overviewCard {
            background-color: rgb(19, 20, 21);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
            > h2 {
                color: rgba(255, 255, 255, 0.85);
            }
            > p {
                color: rgba(255, 255, 255, 0.85);
                > span {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}

@media (min-width: 980px) {
    .mobileCardWrapper {
        width: 100%;
        .overviewCard {
            > h2 {
            }
            > p {
                > span {
                }
            }
        }
    }
}
